/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* /RESET */

/* COMMON */
html{
    font-family: 'Whitney', sans-serif;
}

.container{
    width: 75%;
    margin: 0 auto;
}

.flex-container{
    display:flex;
}

.reversed{
    flex-direction: row-reverse;
}

.log-and-sig a{
    display: inline-block;
    text-decoration: none;
    font-size: .9rem;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 20px;
}

.cta{
    font-size: 1.3rem;
    height: 60px;
    border: none;
    border-radius: 45px;
    padding: 5px;
    margin-right: 20px;
}
/* /COMMON */

/* HEADER */
header{
    background-color: #255ee9;
    padding-top: 20px;
}

/* Nav */
.header-nav{
    align-items: center;
    margin-bottom: 20px;
    color: white;
}

.header-nav div{
    width: 25%;
}

.header-nav ul{
    width:50%;
    list-style: none;
    justify-content: center;
    gap: 0 50px;
}

ul li a{
    color: white;
    text-decoration: none;
}

.header-nav .sig-in{
    text-align: end;
}

.sig-in a{
    width: 70px;
    color: black;
    background-color: white;
}
/* /nav */

/* jumbotron */
.jumbotron-container{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}

.jumbotron{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 50px 30px;
}

h1{
    font-size: 3rem;
    margin-bottom: .5em;
}

.jumbotron-title p{
    font-size: 1.2rem;
    line-height: 1.8em;
    margin-bottom: 20px;
}

.jumbotron .mac{
    width: 220px;
    background-color: white;
}

.jumbotron .browser{
    width: 310px;
    color: white;
    background-color: #23272a;
}

/* /jumbotron */
/* /HEADER */

/* MAIN */

/* Section Img and Text */
main section:nth-child(even){
    background-color: #f6f6f6;
}


.wave{
    background-image: url(../img/wave.svg);
    height: 150px;
    opacity: .04;
}

.wave-bottom{
    background-position: bottom;
}

.wave-top{
    background-position: top;
    transform: rotate(180deg);
}


section .flex-container{
    padding: 100px 70px 90px 0px;
}

.flex-container .image{
    width: 60%;
}


.text{
    width: 40%;
    margin-left: 5em;
}

.text h2{
    font-size:3rem;
    margin-bottom: 40px;
}

.text p{
    font-size: 1.5rem;
    line-height: 1.3em;
}

/* /Section Img and Text*/

/* Section 4 */
.section-box{
    text-align: center;
    padding-bottom: 150px;
}

.box-upper h2{
    font-size:3.3rem;
    padding: 50px 0;
}

.box-upper p{
    font-size: 1.2rem;
    line-height: 1.3;
}

.box-img img{
    width: 100%;
}

.box-bottom h2{
    display: inline-block;
    font-size: 2rem;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 50px;
}

.box-bottom-button button{
    width: 220px;
    background-color: #7289da;
    color: white;
}
/* /MAIN */

/* FOOTER */
footer{
    min-height: 500px;
    /* debug */
    background-color: #23272a;
}

/* Footer Nav */
footer nav{
    padding-top: 60px;
    padding-bottom: 50px;
    border-bottom: 2px solid #4f5d8c;
}

footer nav .footer-box:first-child{
    width: 40%;
}

.footer-box{
    width: 15%;
}

h3{
    color: #7289da;
}

/* Bigger box */
.footer-title h3{
    font-size: 2rem;
}

.language{
    margin: 25px 0;
    color:white;
}

.language img{
    width: 5%;
}

.socials i{
    color: white;
    font-size: 1.5rem;
    margin-right: .8em;
}
/* /Bigger box */

/* Footer box */
.footer-box ul li{
    list-style: none;
    margin-top: 20px;
}

.footer-box ul li a{
    color:white;
    text-decoration: none;
}
/* /Footer box */


/* /Footer Nav */

/* Footer Info */
.footer-info{
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.log-in a{
    width: 90px;
    color: white;
    background-color: #7289da;
}

/* /Footer Info */
/* /FOOTER */